<div class="container my-3">
    <div class="row">
        <div class="col-2">
            <div class="alert alert-secondary" role="alert">Left side nav</div>
        </div>
        <div class="col-8">
            <div class="alert alert-primary" role="alert">

                <div class="row">
                    <div class="col-4 mr-auto secondary-alert">
                        <h4>Welcome to my simple database.</h4> Please login to access the system.
                        <img class="mx-auto my-3" id="home-image" src="/images/home-image.jpg" alt="image">
                    </div>
                    <div class="col-6 ml-auto mb-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur ultricies lacinia. Aenean aliquet laoreet tortor, et venenatis enim luctus at. Phasellus tellus eros, consectetur vel lacus eu, feugiat fringilla est. </p>
                        <p>Proin porta maximus nunc, et porta sem consectetur vestibulum. Sed pulvinar elementum libero, ultrices interdum eros fermentum id. Aenean a sapien libero. Pellentesque volutpat velit vel mollis auctor. Morbi vitae tincidunt metus. </p>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac sapien quis nisi luctus fringilla. Ut dapibus auctor facilisis. Duis nec convallis libero. Vivamus ante velit, finibus quis erat nec, gravida convallis urna. Proin mattis lacus est.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-2">
                        <div class="alert alert-primary" role="alert">left content box</div>
                    </div>
                    <div class="col-8">
                        <div class="alert alert-secondary" role="alert">inner middle body content</div>
                    </div>
                    <div class="col-2">
                        <div class="alert alert-primary" role="alert">right content box</div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="alert alert-secondary" role="alert">right side nav</div>
        </div>
</div>

<div class="row alert-secondary">
        <div class="col">
            <div class="alert alert-secondary mt-3" role="alert">footer cell 1</div>
        </div>
        <div class="col">
            <div class="alert alert-primary mt-3" role="alert">footer cell 2</div>
        </div>
        <div class="col">
            <div class="alert alert-secondary mt-3" role="alert">footer cell 3</div>
        </div>
        <div class="col">
            <div class="alert alert-primary mt-3" role="alert">footer cell 4</div>
        </div>
        <div class="col">
            <div class="alert alert-secondary mt-3" role="alert">footer cell 5</div>
        </div>
</div>
