<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="profile">
                <h3>Register</h3>
                <div class="signin-form">
                    <form action="/users/create" method="POST">
                        <input type="text" name="email" placeholder="E-mail" required="true" class="form-control my-3">
                        <input type="text" name="username" placeholder="Username" required="true" class="form-control my-3">
                        <input type="password" name="password" placeholder="Password" required="true" class="form-control my-3">
                        <input type="password" name="passwordConf" placeholder="Confirm Password" required="true" class="form-control my-3">
                        <button type="submit" value="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
                <p class="my-3"><a href="#"> By clicking register, I agree to your terms</a></p>
            </div>
        </div>
    </div>
</div>