<div class="container">
    <div class="row">
        <div class="col-3 mx-auto my-3">
            Users Page
        </div>
        <div class="col-6 my-3">
            {{# each user }}
                <article class="user">
                    <div>ID: {{ this._id }}</div>
                    <div>Username: {{ this.username }}</div>
                    <div>Email: {{ this.email }}</div>
                </article>
            {{/each}}
        </div>
        <div class="col-4">
        </div>
    </div>
</div>