<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="login-form">
                <h3>Login</h3>
                <div id="msgDiv"></div>
                <div class="login-form">
                    <form action="/login" method="POST">
                        <input id="username" type="text" name="username" placeholder="username" required="true" class="form-control my-3">
                        <input id="password" type="password" name="password" placeholder="Password" required="true" class="form-control my-3">
                        <button class="btn btn-success">Login</button>
                    </form>
                </div>
                <p class="my-3"><a href="/register"> Don't have an account?</a></p>
            </div>
        </div>
    </div>
</div>